<%- include("templates/header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Page Not Found</h1>
      <p class="text-center">404 Error</p>
    </div>
  </div>
</div>
<%- include("templates/footer") %>